/* Fade animation keyframes */
@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-10px); }
}

/* Class for animating the city name */
.city-animation {
  display: inline-block;
  animation: fadeInOut 2s ease-in-out infinite;
  color: red;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.para p{
  font-size: 20px;
  font-weight: 600;
  color: darkred;
}
 .crd{
  border-radius: 33px;
 }

 